<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeMainColor</key>
	<string>008EFF</string>
	<key>BtnBgImage</key>
	<string>e65f</string>
	<key>BtnBgImage2</key>
	<string>\U0000e65f</string>
</dict>
</plist>
